body {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: monospace;
}

#display-div {
  margin: 1rem auto;
  background: grey;
  width: 35%;
  border-radius: 15%;
}

#output-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div {
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 25%;
  background: grey;
  width: 20%;
}

button {
  font-size: 12px;
}

input {
  font-size: 20px;
}
