<h1>Root View</h1>

<form ng-submit="searchForecast(searchInput)">
  <input type="text" ng-model="searchInput" />
  <input type="submit" value="Get Weather" />
</form>

<div ng-repeat="each in list" class="edit">

  <div ng-hide="edit">
    <p class="edit-input">{{each.name}}</p>
    <p class="edit-input">{{each.link}}</p>
    <!-- 'edit = true' creates a edit variable on the child scope -->
    <input class="edit-input" type="button" value="Edit" ng-click="edit = true">
  </div>

  <div ng-show="edit">
    <input class="edit-input" ng-model="each.name">
    <input class="edit-input" ng-model="each.link">
    <input class="edit-input" type="button" value="Save" ng-click="edit = false">
  </div>

</div>
