body {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: black;
}

.nav-bar p {
  margin: .5rem 1rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: blue;
}

.mush-div {
  border: solid 2px black;
  width: 60%;
  font: 30px;
  margin: 1rem auto;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact input {
  height: 20px;
  margin: .5rem;
}
