/* CSS4 variables */
:root {
  --main-color: tomato;
}

.edit {
  margin: 2rem;
  border: .25rem black solid;
  text-align: center;
  width: 30%;
}

.edit-input {
  margin: .5rem;
}

p {
  color: var(--main-color);
}
