#output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    justify-content: space-around;
}

.card {
  width: 250px;
  height: 400px;
  margin: .5rem;
  text-align: center;
  background: black;
  color: white;
}

img {
  width: 150px;
  height: 250px;
}
